In [18]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

from pathlib import Path
%matplotlib inline
from statsmodels.tsa.arima_model import ARMA
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.seasonal import seasonal_decompose

In [19]:

yen_futures = pd.read_csv(
    Path("yen.csv"), index_col="Date", infer_datetime_format=True, parse_dates=True
)
yen_futures.head()

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
1976-08-02,3398.0,3401.0,3398.0,3401.0,NaN,3401.0,2.0,1.0
1976-08-03,3401.0,3401.0,3401.0,3401.0,NaN,3401.0,0.0,1.0
1976-08-04,3401.0,3401.0,3401.0,3401.0,NaN,3401.0,0.0,1.0
1976-08-05,3401.0,3401.0,3401.0,3401.0,NaN,3401.0,0.0,1.0
1976-08-06,3401.0,3401.0,3401.0,3401.0,NaN,3401.0,0.0,1.0

In [20]:
yen_futures = yen_futures.loc["1990-01-01":, :]
yen_futures.head()

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
1990-01-02,6954.0,6954.0,6835.0,6847.0,NaN,6847.0,48336.0,51473.0
1990-01-03,6877.0,6910.0,6865.0,6887.0,NaN,6887.0,38206.0,53860.0
1990-01-04,6937.0,7030.0,6924.0,7008.0,NaN,7008.0,49649.0,55699.0
1990-01-05,6952.0,6985.0,6942.0,6950.0,NaN,6950.0,29944.0,53111.0
1990-01-08,6936.0,6972.0,6936.0,6959.0,NaN,6959.0,19763.0,52072.0

In [ ]:
yen_settle = yen_futures["Settle"]
#yen_settle.head
yen_settle.plot()

In [ ]:
yen_settle[:31].plot()

In [ ]:

yen_settle.rolling(window=25).mean().plot()

In [ ]:
yen_settle.ewm(halflife=50).mean().plot()

In [ ]:

ts_noise, ts_trend = sm.tsa.filters.hpfilter(yen_settle)

In [ ]:
ts_trend.plot()

In [ ]:
ts_noise.plot()

In [ ]:
yen_settle_delta = yen_futures['Settle'].pct_change()
print(yen_settle_delta)

In [ ]:

df = yen_settle_delta.dropna()
df.head()

In [ ]:
df.plot()

In [ ]:
 model = sm.tsa.arima.ARIMA(df,order=(1, 0, 0))
 results = model.fit()
 print(results.summary())

In [ ]:
results.forecast(steps=5)

In [ ]:
results = model.fit()

In [ ]:
pd.DataFrame(results.forecast(steps=5)).plot(title="Yen Futures Forecast")